@use "sass:math";

@import "_reset.scss";
@import "_fonts.scss";
@import "_my-library.scss";
@import "_functions.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;


body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $main-color;
    line-height: 1.46;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
.main {
    display: flex;
    flex-direction: column;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
[class*="__container"] {
    max-width: toRem(1250);
    padding: 0 toRem(15);
    margin: 0 auto;
}
//  ======================================================
.header {
    @extend %header;
    // .header__container
    &__container--top{
        display: flex;
        justify-content: space-between;
        gap: toRem(40);
    }
    &__container { 
        display: flex;
        justify-content: space-between;
        gap: toRem(40);
      
    }
    &__top {
            padding-top: toRem(20);
            padding-bottom: toRem(20);
            background-color: #37393F;
            color: $white-color;
            font-size: toRem(14);
            @media (max-width: $small-mobile-adaptive) {
                gap: toEm(10);
            }
          
         
        }
        // .header-top__left
    
        &__left {
           
        }
     // .header-top__right
     &__left,
     &__right {
        display: flex;
        // justify-content: space-between;
        gap: toRem(40);
        flex-direction: row;
        flex-shrink: 0;
        @media (max-width: toEm(859)) {
            flex-direction: column;
            gap: toRem(10);
            justify-content: center;
        }
    }
        // .header-top__address
    
        &__address {
            display: flex;
            gap: 9px;
            flex-shrink: 0;
        &::before{
            content: "";
            width: toRem(15);
            height: toRem(22);
            background: url(../img/location.svg) center/cover no-repeat;
        }
        }
    
        // .header-top__mail
    
        &__mail {
            display: flex;
            gap: 4px;
            flex-shrink: 0;
            &::before{
                content: "";
                position: relative;
                top: 2px;
                width: toRem(20);
                height: toRem(15);
                background: url(../img/mail.svg) center/cover no-repeat;
            }
        }
    
       
    
        // .header-top__time
    
        &__time {
            display: flex;
                gap: 4px;
                &::before{
                    content: "";
                    position: relative;
                    top: 2px;
                    width: toRem(15);
                    height: toRem(15);
                    background: url(../img/time.svg) center/cover no-repeat;
                }
        }
        &__icons {
            display: flex;
            gap: 16px;
            flex-shrink: 0;
        img{
                @include image-defaults (contain);
                aspect-ratio: 1 /1;
                transition: transform 0.3s;
                @media(hover: hover){
                    &:hover {
                        transform: scale(1.2); 
                    }
                }
            }
        }
//  ====================================
    // .header__bottom

    &__bottom {
        background-color: $white-color;
        padding-top: toRem(30);
        padding-bottom: toRem(30);
        @media (max-width: toEm(1000)) {
            padding-top: toEm(15);
            padding-bottom: toEm(15);
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
        font-family: "Poppins";
        font-size: toRem(25);
        font-weight: 700;
        span{
            color: #6B77E5;
        }
        @media (max-width:toEm(530)) {
            font-size: toRem(20);
            &img{

            }
        }
    }

    // .header__body

    &__body {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        @media (max-width:toEm(530)) {
            gap: toRem(10);
        }
    }

    // .header__button

    &__button {

    }
}
.button-purple{
    display: inline-block;
    color: $white-color;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #6B77E5;
    padding: toRem(21) toRem(35);
    align-self: flex-start;
    @media (any-hover: hover) {
        transition: border-radius 0.3s;
        &:hover {
           border-radius: toRem(12);
           background-color: #5b66c7;
        }
    }
    @media (max-width:toEm(500)) {
        align-self: stretch;
    }
}
.menu {

    // .menu__body

    &__body{
        padding: toRem(21) 0;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0;
        flex-shrink: 1;
        justify-content: center;
	    column-gap: 40px;
	    row-gap: 8px;
        @media(max-width: 1098px){
            column-gap: 20px;
        }
    }

    // .menu__item
        &__item {
        color:$grey-color;
        font-size: 18px;
        font-weight: 400; 
        position: relative;
        &--open {
            &::after{
            content: "";
            top: 0;
            left: 0;
            width: toRem(12);
            height: toRem(6);
            margin-left: toRem(8);
            background: url(../img/sub-menu-arrow.svg) center/cover no-repeat;
            transition: transform 0.3s ease;
           }
           @media (any-hover:hover) {
            &:hover::after{
                transform: rotateZ(180deg);
                }
                }
               
            }  
    }
    // .menu__link
    &__link {
        // transition: color 0.3s;
        
        // @media(any-hover: hover){
        //         .menu__item:hover &{ 
        //          color: #3b3b3b; 
        //         }  
        // }
        &::before {
			content: "";
			height: toRem(3);
			background-color: $grey-color;
			position: absolute;
			top: 100%;
			width: 0;
			left: 50%;
			transition: all 0.3s;
			border-radius: toRem(2);
			margin-top: toRem(2);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
					left: 0;
				}
			}
		}
    }
    &__sublist {
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        @media (any-hover:hover) {
            .menu__item:hover &{
				opacity: 1;
				visibility: visible;
				pointer-events: all;
		}
        }
    }
&__link-sublist{
    position: relative;
    &::before {
        content: "";
        height: toRem(3);
        background-color: $grey-color;
        position: absolute;
        top: 100%;
        width: 0;
        left: 50%;
        transition: all 0.3s;
        border-radius: toRem(2);
        margin-top: toRem(2);
    }
    @media (any-hover: hover) {
        &:hover {
            &::before {
                width: 100%;
                left: 0;
            }
        }
    }
    @media (max-width: toEm(1000)){
        &:hover {
            &::before {
                background-color:$white-color
            }
        }
    }
}
    
   

}
.menu-burger {
    display: none;
}

@media(max-width: toEm(1000)){
   
    .menu-burger{
        display: block;
        position: relative;
        width: toRem(40);
        height: toRem(35);   
        &::before,
        &::after{
            content: "";
            width: 100%;
            height: 3px;
            background-color: #000;
            position: absolute;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        span{
            width: 100%;
            height: 3px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
            transition: all 0.3s ease 0s;
        }
        
    }
    .menu {
        position: fixed;
        top: toRem(-22);
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto; 
        z-index: 51;
        background-color: #959dea;
        padding-right: toRem(20);
        transform: translate(-100%, 0);
        transition: transform 0.3s;
        &::before{
            content: "";
            position: fixed;
            width: 100%;
            height: toRem(67);
            top: 0;
            left: 0;
            z-index: 49;
            background-color: $mint-color;
        }

            &__body {
                padding-top: toRem(70);
                display: grid;
                grid-template-columns: repeat(1, 0.5fr);
                justify-content: end;
                justify-items: end;
                align-content: end;
                gap: 20px;
                @media (max-width: toEm(451)) {
                    grid-template-columns: 1fr;
                }
            }

            &__item {
                color: $white-color;
                font-size: 35px;
                font-weight: 500;
              &--open{
                &::after{
                    display: none;
                }
              }
            }
            &__sublist{
                visibility: visible;
                position: relative;
                top: 0;
           
            }
            &__item-sublist{
                transition: color 0.3s;
            }
            &__link-sublist{
                
              
            }
            

            // &__link-sublist{
            //     transition: color 0.3s;  
            //         @media(any-hover: hover){
            //             .menu__item-sublist:hover & { /* Звернення до &__link всередині &__item при наведенні */
            //                 color: #71a9b0; 
            //                 text-decoration: underline;
            //                 }  
            //         }
                    
            //     }
            // .menu__link
    
            &__link {
                transition: color 0.3s;
                @media(any-hover: hover){
                    .menu__item:hover & { /* Звернення до &__link всередині &__item при наведенні */
                         color: #797878; 
                       
                        }
                    
                }
            }
           
           
    }
    .header{
      
       &__top{
            padding: 0;
            opacity: 1;
            left: -100%;
            bottom: 0;
            transition: all 0.3s;
        
    }
    &__container--top{
        display: none;
    }
    &__button{
        display: none;
    }

}
    .menu-open{
        position: relative;
        body{
            overflow: hidden;
        }
        & .menu-burger{
          z-index: 51;
            &::before{
                top: 12px;
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 20px;
            }
            span{
                transform: scale(0);
            }
        }
        .menu{
            transform: translate(0, toRem(22));
            
        }
       
        .header{
        
            &__top{
                position: fixed;
                overflow: auto;
                opacity: 1;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20%;
                z-index: 52;  
               
            }
            &__container--top,
            &__left,
            &__right{
                padding: toRem(7) 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: toRem(10);
            }
            &__button{
                position: fixed;
                left: toRem(15);
                z-index: 52;
                display: block;
            }
          
           
        }
        
    }
    
        
}

.page {

    &__hero {

        display: flex;
    }
}
.hero {
// position: relative;
    // .hero__image
    // &:not(:last-child){
    //     @include adaptiveValue("margin-bottom", 150, 40, 0, 1496, 320);
    // }
    &__image {
        flex: 0 0 100%;
        transform: translate(-100%, 0);
        & img{
           aspect-ratio: 1920 / 815;
           position: absolute;
           width: 100%;
           height: 100%;
           object-fit: cover;
        }
    }
    // .hero__content

    &__content {
        flex: 0 0 100%;
        position: relative;
        z-index: 2;

    }

    // .hero__body

    &__body {
        color: $white-color;
        max-width: 50%;
        background-color: rgba(55, 57, 63, 0.91);
        backdrop-filter: blur(9.5px);
        @include adaptiveValue("padding-top", 205, 30, 0, 1496, 320);
        @include adaptiveValue("padding-bottom", 205, 30, 0, 1496, 320);
        @include adaptiveValue("padding-left", 116, 25, 0, 1496, 320);
        @include adaptiveValue("padding-right", 116, 25, 0, 1496, 320);
        // display: inline-block;
        @media(max-width:toEm(1200)) {
            max-width: 75%;
        }
        @media(max-width:toEm(991)) {
            max-width: 100%;
        }
    }

    // .hero__margin-subtitle

    &__margin-subtitle {
        &:not(:last-child){
            margin-bottom: toRem(7);
        }
    }

    // .hero__title

    &__title {
        color: #FFF;
        font-family: "Poppins";
        // font-size: toRem(60);
        @include adaptiveValue("font-size", 60, 30, 0, 1496, 320);
        font-weight: 700;
        span{
        color: $mint-color;
        }
        &:not(:last-child){
            margin-bottom: toRem(20);
        }
    }

    // .hero__text

    &__text {
        color: #B9B9B9;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.46;
        &:not(:last-child){
            margin-bottom: toRem(30);
        }
    }
     // .hero__bottom

     &__bottom {
        display: flex;
        align-items: center;
        gap: toRem(30);
        @media(max-width: toEm(679)) {
             flex-direction: column;
             align-items: flex-start;
             width: 100%;
      }

    }
    // .hero__button

    &__button {
        
    }

    // .hero__video

    &__video {
        color: $white-color;
        font-size: toRem(18);
        font-weight: 600;
        z-index: 3;
        display: flex;
        align-items: center;
        gap: toRem(10);
        &::before{
            background: url(../img/play-button.svg) center/cover no-repeat;
            content: "";
            width: 60px;
            height: 60px;
        }
    }
}
.subtitle {
    @include adaptiveValue("font-size", 18, 14, 0, 1496, 320);
    font-weight: 600;
    line-height: 1.46;
    
    &::before{
        content: "";
        width: 11px;
        height: 11px;
        background-color: $mint-color;
        margin-right: toRem(7);
        transform: translateY(-1px);
    }
}
.button-green {
        font-weight: 600;
        font-size: toRem(18);
        padding: toRem(21) toRem(27);
        background-color: $mint-color;
        color: $main-color;
        max-height: toRem(65);  
        display: inline-block;
        transition: all 0.2s;
      @media (any-hover:hover) {
         &:hover {
            background-color: #FFF;
            outline: 2px solid #40DDB6;
         }
      }
}
// ============================== SECTION 1 ==================      
.section-1 {

    // .section-1__container

    &__container {
        display: flex;
        @include adaptiveValue("gap", 70, 5, 0, 1496, 320);
        @media (max-width: toEm(991)) {
            flex-direction: column;
            flex-direction: column-reverse;
        }
    }

    // .section-1__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: toRem(15);
        background: $grey-bg-color;
        padding: toRem(150) toRem(50) toRem(150) 0;
        position: relative;
        &::before{
            content: "";
            width: 187.5rem;
            height: 100%;
            background-color: $grey-bg-color;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-100%, 0);
        }
        @media (max-width: toEm(991)) {
            flex-direction: row;
            gap: toRem(35);
            padding: toRem(50) toRem(25) toRem(50) 0;
        }
        @media (max-width: toEm(591)) {
            flex-direction: column;
        }
    }
    &__image{
       
    }
    &__image img{
        aspect-ratio: 452 / 678;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
   &__content{
    @media (max-width: toEm(991)) {
        flex-direction: column;
    }
   }

    // .section-1__link

    &__link {
        color: $main-color;
        font-size: 18px;
        font-weight: 600;
        transition: text-decoration 0.3s;
        @media (any-hover:hover) {
            &:hover{
                text-decoration: underline;
            }
            
        }
        
    }

    // .section-1__right

    &__right {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 20, 10, 0, 1496, 320);
        padding: toRem(150) 0;
        @media (max-width: toEm(991)) {

            padding: toRem(50) 0;
        }
    }

 
  
    // .section-1__list

    &__list {
    }

    // .section-1__item-list

    &__item-list {
        font-family: "Poppins";
        font-size: toRem(20);
        font-weight: 400;
        &::before{
            content: "";
            background: url(../img/purple_check.svg) center/cover no-repeat;
            width: toRem(27);
            height: toRem(27);
            margin-right: toRem(8);
            transform: translateY(5px);
        }
        &:not(:last-child){
            margin-bottom: toRem(20);
        }
    }

    // .section-1__blocks

    &__blocks {
        display: flex;
        @include adaptiveValue("gap", 21, 10, 0, 1496, 320);
        @include adaptiveValue("padding-top", 20, 10, 0, 1496, 320);
        @include adaptiveValue("padding-bottom", 20, 10, 0, 1496, 320);
        @media (max-width: toEm(591)) {
        flex-direction: column;
            }
    }

    // .section-1__block

    &__block {
        display: flex;
        align-items: flex-start;
        @include adaptiveValue("gap", 19, 10, 0, 1496, 320);
        @include adaptiveValue("padding", 31, 15, 0, 1496, 320);
        border: 1px solid #E3E3E3;
    }
    &__icon{
       
    }
    // .section-1__body

    &__body {
    }

    // .section-1__title-block

    &__title-block {
        color: $main-color;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
    }

    // .section-1__text-block

    &__text-block {
    }

    // .section-1__button

    &__button {
        // align-self: flex-start;
    }
}
.small-title {
    color: $main-color;
    font-family: "Poppins";
    @include adaptiveValue("font-size", 30, 25, 0, 1496, 320);
    font-weight: 600;
    line-height: 121%;
}
.text {
    color: $grey-text;
    font-size: 18px;
    font-weight: 400;
    line-height: 146.187%;
    & p:not(:last-child){
        margin-bottom: toRem(15);
    }
}

.title {
    color: $main-color;
    @include adaptiveValue("font-size", 40, 35, 0, 1496, 320);
    font-weight: 700;
    line-height: 121%;
}

// ===================== SECTION 2 - BRAND images ===========
.section-2 {

    // .section-2__container

    &__container {
        
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
        gap: toRem(15);
        align-items: center;
        justify-content:center;
        @include adaptiveValue("margin-top", 100, 50, 0, 1496, 320);
        @include adaptiveValue("margin-bottom", 100, 50, 0, 1496, 320);
   
    }
    // .section-2__link

    &__link {
        display: block;
        padding: toRem(15);
    }

    // .section-2__image

    &__image {
        width: 80%;
        height: 100%;
    }
}
// ============ SECTION 3 ==============
.section-3 {
  
    // .section-3__container

    &__container {
    
    }

    // .section-3__subtitle

    &__subtitle {
        text-align: center;
        &:not(:last-child){
            margin-bottom: toRem(16);
        }
    }

    // .section-3__title

    &__title {
        text-align: center;
        &:not(:last-child){
            margin-bottom: toRem(40);
        }
    }

    // .section-3__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(toRem(385),1fr));
        gap: toRem(30);
        @media (max-width: toEm(991)) {
        grid-template-columns: repeat(auto-fit,minmax(toRem(300),1fr));
        }
        
            margin-bottom: toRem(100);
        
    }

    // .section-3__item

    &__item {
        background: $grey-bg-color;
        padding: toRem(30);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: toRem(10);
        &--purple{
            background-color: $purple-color;
            justify-content: center;
            align-items: center;
        }
        
    }

    // .section-3__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: toRem(27);
        p{
            color: $white-color;
            font-size: 25px;
            font-weight: 600;
        }
    }

    // .section-3__title-item

    &__title-item {
        font-family: "Poppins";
        font-size: 25px;
        font-weight: 600;
        line-height: 1.56;
    }

    // .section-3__link

    &__link {
        color: $purple-color;
        font-size: 18px;
        font-weight: 600;
        @media (any-hover: hover) {

            &:hover {
               text-decoration: underline;
            }
        }
    }

    // .section-3__icon

    &__icon {
    }
}
//  ======================== SECTION 4 ====================
.section-4 {
    display: flex;
    &__content{
        background-color: $main-color;
        color: $white-color;
       
        @include adaptiveValue("margin-bottom", 132, 30, 0, 1218, 320);
        flex: 0 0 100%;
    }
    // .section-4__info

    &_info {
    }

    // .section-4__container

    &__container {
        
    }

    // .section-4__left

    &__left {
        max-width: toRem(610);
      @include adaptiveValue("padding-top", 138, 40, 0, 1218, 320);
      @include adaptiveValue("padding-bottom", 138, 40, 0, 1218, 320);
   
      @media(max-width:toEm(1100)) {
        max-width: toRem(510);  
     }
     @media(max-width:toEm(1050)) {
        max-width: toRem(450);  
     }
     @media(max-width:toEm(950)) {
        max-width: toRem(400);  
     }
      @media(max-width:toEm(830)) {
         max-width: 100%;
      }
        
    }

    // .section-4__body

    &__body {
        & > *:not(:last-child) {
            margin-bottom: toRem(36);
         }
        }
    // .section-4__top

    &__top {
        & > *:not(:last-child) {
            margin-bottom: toRem(13);
         }

    }

    // .section-4__subtitle

    &__subtitle {
    }

    // .section-4__title

    &__title {
        color: $white-color;
    }

    // .section-4__text

    &__text {
        color: $white-color;
    }

    // .section-4__middle

    &__middle {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(15);
        @media(max-width:toEm(1100)) {
           flex-direction: column;   
         }
         @media(max-width:toEm(830)) {
            flex-direction: row;
    }
    }

    // .section-4__item

    &__item {
        padding: toRem(27) toRem(30);
        background-color: #2E2F34;
        display: inline-flex;
        max-width: toRem(297);
        align-items: center;
        gap: toRem(12);
        @media(max-width:toEm(1100)) {
           flex-wrap: wrap;
           min-width: toRem(297);   
        }
        @media(max-width:toEm(327)) {
           flex-direction: row;
           flex-wrap: wrap;
           min-width: toRem(290);
           gap: toRem(5);  
        }
        
    }

    // .section-4__percentage

    &__percentage {
        position: relative;
        width: toRem(79);
        height: toRem(79);
        flex-basis: toRem(79);
    }

    // .section-4__icon

    &__icon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    // .section-4__number

    &__number {
        font-family: "Poppins";
        font-size: toRem(20);
        font-weight: 600;
        padding: toRem(27) toRem(18);
        z-index: 5;
        position: relative;
        text-align: center;
        // display: inline-block;
        
    }

    // .section-4__label

    &__label {
    }

    // .section-4__bottom

    &__bottom {
        font-family: "Poppins";
        display: flex;
        gap: toRem(37);
        @media(max-width:toEm(500)) {
            flex-direction: column;
            gap: toRem(0);
      }
    }

    // .section-4__column

    &__column {
        @include adaptiveValue("margin-bottom", 23, 5, 0, 1496, 320);

    }

    // .section-4__index

    &__index {
        font-size: toRem(20);
        line-height: 1.65;
        @include adaptiveValue("margin-bottom", 23, 10, 0, 1496, 320);
        &::before{
            content: "";
            background: url(../img/green_check.svg) center/cover no-repeat;
            width: toRem(27);
            height: toRem(27);
            transform: translateY(toRem(5));
        }
      
    }

    // .section-4__bold

    &__bold {
        font-weight: 700;
        margin-left: toRem(7);
    }
    &__yellow{
        color: #FFB342;
    }
    // .section-4__star

    &__star {
        &::before{
            content: "";
            background: url(../img/star.svg)center/cover no-repeat;
            width: toRem(17);
            height: toRem(17);
            margin-left: toRem(3);
        }
    }

    // .section-4__index--green

    &__index--green {
        color: $mint-color;
        font-size: toRem(18);
        font-weight: 600;
        position: relative;
        display: inline-block;
        &::before {
            content: "";
            height: toRem(3);
            background-color: $mint-color;
            position: absolute;
            top: 100%;
            width: 0;
            left: 0;
            transition: all 0.3s;
            border-radius: toRem(2);
            margin-top: toRem(2);
            
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

 
    // .section-4__image

    &__image {
        position: relative;
        flex: 0 0 45%;  
        transform: translate(-100%, 0); 
        @include adaptiveValue("margin-bottom", 132, 30, 0, 1218, 320);
        & img {
           aspect-ratio: 868 / 625;
           object-fit: cover;
           object-position: right;
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
        }
        @media(max-width:toEm(1100)) {
              flex: 0 0 50%;
        }
        @media(max-width:toEm(830)) {
              display: none;
        }
     }
    
}
//  ======================== SECTION 5 ====================
.section-5 {

    // .section-5__head

    &__container {
        display: flex;
        justify-content: space-between;
        &:not(:last-child){
            margin-bottom: toRem(40);
        }
        @media (max-width: toEm(960)) {
       flex-direction: column;
       display: inline-block;
        }
        // @media (max-width: toEm(400)) {
        // display: flex;
        // }
    }
    &__titles{

    }
    // .section-5__subtitle

    &__subtitle {
        margin-bottom: toRem(16);
    }
    &__title{
        @media (max-width: toEm(938)) {
        &:last-child{
            margin-bottom: toRem(20);
        }
        }
       
    }

    // .section-5__button

    &__button {
       color: $white-color; 
       @media (max-width: toEm(450)) {
        display: flex;
        justify-content: center;
        }
      @media (any-hover:hover) {
         &:hover {
           color: $main-color;
         }
      }
    }

    // .section-5__blocks

    &__blocks {
        padding: 0 toRem(15);
        @include adaptiveValue("padding-bottom", 150, 50, 0, 1496, 320);
        @include adaptiveValue("gap", 40, 20);
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(toRem(290),1fr));
   
    }
    &__link{
        overflow: hidden;
    }
    // .section-5__image

    &__image {
        aspect-ratio: 434 / 501;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
         @media(any-hover:hover) {
            &:hover{
               transform: scale(1.1);
            }
         }
    }
}
    .border__container {
        border-bottom: 1px solid #C5C5C5;
        @include adaptiveValue("margin-bottom", 150, 50, 0, 1496, 320);   
    }


//  ======================== SECTION 6 ====================
.section-6 {

    // .section-6__container

    &__container {
       
            @include adaptiveValue("margin-bottom", 275, 100, 0, 1496, 320);
        
    }
    // .section-6__blocks

    &__blocks {
        display: flex;
        @include adaptiveValue("gap", 37, 24, 0, 1496, 320); 
        flex-wrap: wrap;
    }

    // .section-6__block

    &__block {
        flex-basis: toRem(337);
       &--persone{
        @include adaptiveValue("padding-top", 50, 35, 0, 1496, 320); 
        @include adaptiveValue("padding-bottom", 50, 35, 0, 1496, 320); 
        @include adaptiveValue("padding-left",37, 30, 0, 1496, 320);
        @include adaptiveValue("padding-right",37, 30, 0, 1496, 320); 
        background: $semi-white-color;
        flex-grow: 1;
       }
       
    }

    // .section-6__head

    &__head {
        display: flex;
        gap: toRem(16);
        @media (max-width: toEm(370)) {
            flex-direction: column;
        }
    }

    // .section-6__image

    &__image {
        width: toRem(101);
        height: toRem(101);
        flex-shrink: 0;
        img{
        aspect-ratio: 101 / 101;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
       
    }

    // .section-6__info

    &__info {
        display: flex;
        flex-direction: column;
    }

    // .section-6__name

    &__name {
    }

    // .section-6__profession

    &__profession {
    }

    // .section-6__star

    &__star {
        width: toRem(20);
        height: toRem(20);
    }

    // .section-6__star--half

    &__star--half {
    }
// .section-6__rating

    &_rating {
        flex-shrink: 0;
    }



    // .section-6__text

    &__text {
    }
}

//  ======================= SECTION 7 =========
.section-7 {
    background-color: $purple-color;
    color: $white-color;
    // .section-7__container

    &__container {
        @include adaptiveValue("padding-top", 123, 50); 
        @include adaptiveValue("padding-bottom", 123, 50); 
    }

    // .section-7__blocks

    &__blocks {
        display: flex;
        @include adaptiveValue("gap", 53, 24); 
        @media (max-width: toEm(880) ) {
            flex-direction: column;
        }
    }

    // .section-7__block

    &__block {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 34, 24); 
    }

    // .section-7__head

    &__head {
    }

    // .section-7__subtitle

    &__subtitle{
            margin-bottom: toRem(16);
    }

    // .section-7__title

    &__title {
        margin-bottom: toRem(21);
      
    }

    // .section-7__text

    &__text {
    }

    // .section-7__middle

    &__middle {
        background-color: $mint-color;
        font-family: "Poppins";
        @include adaptiveValue("padding", 35, 24); 
        display: flex;
        @include adaptiveValue("gap", 23, 18); 
    }

    // .section-7__left

    &__left {
        border-radius: 50%;
        border: 4px solid $purple-color;
        max-width: toRem(128);
        max-height: toRem(128);
        flex-basis: toRem(128);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: toRem(30) toRem(20);
    }

    // .section-7__title-left

    &__title-left {
        font-size: toRem(35);
        font-weight: 700;
        line-height: 121%;

    }

    // .section-7__text-left

    &__text-left {
        font-size: toRem(18);
        font-weight: 600;
    }

    // .section-7__right

    &__right {
    }

    // .section-7__text-right

    &__text-right {
        font-size: toRem(25);
        font-weight: 400;
        line-height: 127%;
    }

    // .section-7__bottom

    &__bottom {
        
    }

    // .section-7__list

    &__list {
    
       
    }

    // .section-7__list-item

    &__list-item {
        display: flex;
        gap: toRem(16);
        &:not(:last-child){
            margin-bottom: toRem(18);
            .section-7__list-body {
                padding-bottom: toRem(21);
                border-bottom: 1px solid $white-color;
            }
            }
        
        &::before{
            content: "";
            background: url(../img/green_check.svg) center/cover no-repeat;
            max-width: toRem(27);
            max-height: toRem(27);
            width: 100%;
        }
         
    }
    &__list-body{
      

    }
    // .section-7__list-title

    &__list-title {
    }

    // .section-7__list-text

    &__list-text {
      
    }

    // .section-7__form

    &__form {
        @include adaptiveValue("padding", 58, 35);
        background-color: $white-color
    }
    

    // .section-7__form-data

    &__form-data {
        @include adaptiveValue("gap", 30, 25);
        
        display: flex;
        flex-direction: column;
    }

    // .section-7__form-input

    &__form-input {
        @include adaptiveValue("padding-top", 21, 18); 
        @include adaptiveValue("padding-bottom", 21, 18); 
        @include adaptiveValue("padding-left", 33, 25); 
        @include adaptiveValue("padding-right", 33, 25); 
        flex-grow: 1;   
        border: 1px solid #DDD;
        background: #F8F8F8;
    }
    textarea{
        resize: vertical;
    }
    // .section-7__form-group

    &__form-group {
        flex-grow: 1;
        display: flex;
        gap: toRem(23);
    }

   
    // .section-7__form-button

    &__form-button {
       max-width: toRem(185);
       @media (max-width: toEm(400) ) {
        max-width: 100%;
    }
    }
}
.text-bold{
    font-weight: 700;
}
//  ======================= SECTION 8 =========
.section-8 {
    @include adaptiveValue("margin-bottom", 200, 40, 0, 1218, 320);
    // .section-8__container

   
    &__body{
        position: relative;
        overflow: hidden;
    }
    // .section-8__image

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: 1920/733;
        object-fit: cover;
    }
    // &__image img{
    //     width: 100%;
    //     height: 100%;
    // }

    // .section-8__block

    &__block {
        display: flex;
        justify-content: center;
        position: relative; 
        @include adaptiveValue("padding-top", 225, 0, 0, 1218, 600);
        @include adaptiveValue("padding-bottom", 225, 0, 0, 1218, 600);
        
    }
    &__block h2{
        padding: toRem(87) toRem(130);
        background-color: rgba(55, 57, 63, 0.80);
        backdrop-filter: blur(9px);
        @media (max-width:(toEm(683))) {
            padding: toRem(87) 0;
            width: 100%;
            text-align: center;
         }
    }
}


.section-9 {
    &__container {
        @include adaptiveValue("margin-bottom", 150, 50, 0, 1496, 320);
    }
    // .section-9__button

    &_button a{
        color: $white-color;
        background-color: $main-color;
        padding: toRem(21) toRem(43);
        display: inline-block;
    }

    // .section-9__head

    &__head {
        @include adaptiveValue("margin-bottom", 40, 20, 0, 1218, 600);
        display: flex;
        justify-content: space-between;
    }

    // .section-9__subtitle

    &__subtitle {
        margin-bottom: toRem(16);
    }

    // .section-9__title

    &__title {
        margin-bottom: toRem(13);
    }

    // .section-9__blocks

    &__blocks {
        display: flex;
        gap: toRem(36);
        @media (max-width:(toEm(1038))) {
            flex-direction: column;
         }
    }
    

    // .section-9__block

    &__block {
    }

    // .section-9__body

    &__body {
        margin-bottom: toRem(19);
        display: flex;
        flex-direction: column;
        @media(any-hover:hover) {
           &:hover {
              & img {
                 transform: scale(1.05);
              }
           }
        }
    }

    // .section-9__image

    &__image {
    overflow: hidden;
    aspect-ratio: 591 / 363;
    img{
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;
    }}

    // .section-9__links

    &__links {
        color: #208068;
        @include adaptiveValue("font-size", 18, 16);
        // font-size: toRem(18);
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
      
        & > *:not(:last-child) {
            border-right: 2px solid #208068;
        }
       
         @media (max-width:(toEm(829))) {
            @include adaptiveValue("font-size", 18, 10, 0, 828, 320);
         }
    }

    // .section-9__link-date

    &__link-date {
        
    }

    // .section-9__link-name
    &__link{
        
        padding: toRem(21) toRem(20);
        background-color: $mint-color;
        @media(any-hover:hover) {
            &:hover {
                background-color: $purple-color;
                color: $white-color;
            }
        }
        &:focus {
            background-color: #6B77E5;
            color: $white-color;
            font-weight: 600;
         }
        @media (max-width:(toEm(1225))) {
            padding: toRem(19) toRem(20);
         }
         @media (max-width:(toEm(830))) {
            padding: toRem(19) toRem(10);
         }
    }
    &__link-name {
        display: flex;
        align-items: center;
        gap: toRem(5);
        justify-content: center;
        &::before{
            content: "";
            background: url(../img/9_persone.svg) center/cover no-repeat;
            width: toRem(14);
            height: toRem(14);
            flex-basis: toRem(14);
        }
    }

    // .section-9__link-business

    &__link-business {
        display: flex;
        align-items: center;
        gap: toRem(5);
        justify-content: center;
        &::before{
            content: "";
            background: url(../img/9_business.svg) center/cover no-repeat;
            width: toRem(13);
            height: toRem(13);
            flex-basis: toRem(13);
        }
       
    }

    // .section-9__text

    &__text {
        margin-bottom: toRem(27);
    }

    // .section-9__more

    &__more {
        color: $purple-color;
        font-size: toRem(18);
        font-weight: 600;
        @media(any-hover:hover) {
            &:hover {
            text-decoration: underline;
            }
         }
    }
}




//  ======================= SECTION 10 =========
.section-10 {
    @include adaptiveValue("margin-bottom", 200, 50, 0, 1496, 320);
    // .section-10__container

    &__container {
    }

    // .section-10__body

    &__body {
        position: relative;
        align-self: center;
        justify-content: center;
        margin-bottom: toRem(19);
    }
    &__content{
        // position: relative;
        text-align: center;
        @include adaptiveValue("padding-top", 96, 30, 0, 1218, 320);
        @include adaptiveValue("padding-bottom", 96, 30, 0, 1218, 320);
        backdrop-filter: blur(7px);
        background-color: rgba(64, 221, 182, 0.75);
        align-items: center;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 26, 18, 0, 1218, 320);
        align-self: center;
        justify-content: center;
    }
    &__main{
        max-width: toRem(729);
    }
    // .section-10__label

    &__label {
        font-size: 18px;
        font-weight: 500;
        &:not(:last-child){
            // @include adaptiveValue("margin-bottom", 25, 18, 0, 1496, 320);
        }
        &:before{
            content: "";
            width: toRem(12);
            height: toRem(12);
            margin-right: toRem(6);
            background: $purple-color;
        }
    }

    // .section-10__title

    &__title {
        &:not(:last-child){
            // margin-bottom: toRem(10);
        }
    }

    // .section-10__text

    &__text {
        font-size: 18px;
        line-height: 146.187%;
    }
    &__text p{
        &:not(:last-child){
            margin-bottom: toRem(15);
        }
    }

    // .section-10__button

    &__button {
        align-self: center;
    }

    // .section-10__image

    &__image {
        position: absolute;
        aspect-ratio: 1219 / 525 ;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;

    }
    
}

.text-white{
color: $white-color;
}
.title40{
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 121%;
}






//  ======================= SECTION FOOTER =========
.footer {
    background-color: $main-color;
    color: $white-color;
    @include adaptiveValue("padding-top", 105, 30, 0, 1496, 320);
    @include adaptiveValue("padding-bottom", 105, 30, 0, 1496, 320);
    @media (max-width: toEm(1100)) {
        
        flex-wrap: wrap;
        justify-content: center;
    }

    // .footer__container

    &__container {
    }

    // .footer__top

    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("padding-bottom", 50, 20, 0, 1496, 320);
        border-bottom: 1px solid $grey-footer;
        @media (max-width: toEm(1100)) {
            flex-direction: column;
            gap: toRem(20);
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    // .footer__middle

    &__middle {
        display: flex;
        @include adaptiveValue("gap", 80, 20, 0, 1496, 320);
        @include adaptiveValue("padding-top", 50, 20, 0, 1496, 320);
        @include adaptiveValue("padding-bottom", 50, 20, 0, 1496, 320);
        border-bottom: 1px solid $grey-footer;
        @media (max-width: toEm(1100)) {
            flex-direction: column;
            // max-width: toRem(800);
            // width: 100%;
            flex-wrap: wrap;
       }
       
    }
    // .footer__bottom

    &__bottom {
        font-weight: 600;
        @include adaptiveValue("padding-top", 22, 10, 0, 1496, 320);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .footer__logo

    &__logo {
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        @include adaptiveValue("gap", 20, 10, 0, 1496, 320);
        flex-grow: 1;
          @media(max-width:toEm(1043)) {
         width: 100%;
         flex-wrap: wrap;
      }
      @media(max-width:toEm(506)) {
         flex-direction: column;
         justify-items: center;
         max-width: toRem(246);
         width: toRem(246);
         gap: toRem(20);
      }
    }

    // .footer__call

    &__contact-item {
        display: flex;
        gap: toRem(10);
        align-items: center;
    }

    &__contact-body h6{
        font-family: "Poppins";
        font-size: toRem(20);
        font-weight: 600;
        line-height: 1.5;
        padding-bottom: toRem(5);
    
    }
    &__contact-body p{
        font-size: toRem(18);
        line-height: 1.2;
    }

    &__contact-img {
        width: toRem(68);
        height: toRem(68);
        aspect-ratio: 68 / 68;
    }

  
  
   
   

    // .footer__blocks

    &__blocks {
        justify-content:space-between;
        display: flex;
        @include adaptiveValue("gap", 100, 20, 0, 1496, 320);
        @media(max-width:toEm(1043)) {
            width: 100%;
            flex-wrap: wrap;
         }
    }

    // .footer__block

    &__block {
    }

    // .footer__title

    &__title {
        font-size: toRem(20);
        color: $mint-color;
        margin-bottom: toRem(13);
        &::before{
            content: "";
            width: toRem(13);
            height: toRem(13);
            background-color: $purple-color;
            margin-right: toRem(13);
        }
        @media (max-width: toEm(1100)) {
            font-size: toRem(25);
       }
    }

    // .footer__list

    &__list {
        font-size: toRem(18);
        @media (max-width: toEm(1100)) {
            font-size: toRem(20);
       }
    }

    // .footer__item

    &__item {
        font-size: toRem(18);
        line-height: 1.2;
        margin-bottom: toRem(10);
    }

    // .footer__link

    &__link {
    }

    // .

    &__item--green {
        color: $mint-color;
    }

    // .footer__subscribe

    &__subscribe {
        background-color: #474950;
        padding: toRem(42) toRem(36);
        @media(max-width:toEm(559)) {
            padding: toRem(10) toRem(10);
         }
    }
    &__subscribe-head{
        & > *:not(:last-child) {
            margin-bottom: toRem(6);
         }
    }
     // .footer_subscribe-title

     &__subscribe-title {
        color: #FFF;
        font-family: "Poppins";
        font-size: toRem(20);
        font-weight: 600;
        line-height: 1.5;
    }
    // .footer__text

    &__text {
        font-size: toRem(18);
        line-height: 1.5;
        margin-bottom: toRem(23);
        
    }

 &__subscribe-body{
    display: inline-flex;
 }

    // .footer__email-input

    &__email-input {
        padding: toRem(21) toRem(27);
        font-size: toRem(18);
        @media(any-hover:hover) {
        &:hover {
           background-color: rgb(237, 236, 236);
        }
         }
         &:focus {
            background-color: rgb(237, 236, 236);
         }
         @media(max-width:toEm(559)) {
            padding: toRem(10) toRem(10);
            font-size: toRem(14);
         }
    }

    // .footer__button

    &__button {
        font-size: toRem(18);
        padding: toRem(21) toRem(27);
        background-color: $purple-color;
        @media(any-hover:hover) {
            &:hover {
                background-color: #5b66c7;
            }
        }
        @media(max-width:toEm(559)) {
            padding: toRem(10) toRem(10);
            font-size: toRem(14);
         }
    }

    // .footer__left

    &__left {
    }
    &__item{
        font-size: toRem(18);
    }

    // .footer__item--purple

    &__item--purple {
        color: $purple-color;
    }

    // .footer__right

    &__right {
        display: flex;
        gap: toRem(12);
    }

    // .footer__actions

    &__actions {
        @include adaptiveValue("margin-right", 16, 10, 0, 1496, 320);
    }
    &__action-item{
        
    }
}
